* {
    margin: 0;
    padding: 0;
    transition-duration: 0.5s;
}
#horizontal{
    margin: 0 6em 0 6em;
}
.background {
    background-image: url(images/background.svg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5% 0 5%;
    
}
.nav button {
    background-color: white;
    padding: 15% 30% 15% 30%;
    border: solid 1px blue;
    border-radius: 10px;
    color: blue;
    transition: 0.05s;
}
.nav button:hover{
    background-color: rgb(49 46 129);
    color: white;
    transform: scale(1.04);
    
}
@media (max-width: 768px) {
    .nav img{
        width: 90%;
        margin-top: .5em;
        
    }
    .nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
  
    
    
}

@media (max-width: 480px) {
    .nav img{
        width: 90%;
        margin-top: .5em;
        
    }
    .nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}


.sec1 {
    height: 100vh;
    margin: 0 5% 0 5%;
   display: flex;
    gap: 1em;
}

.subsec2:hover{
    scale: 1.1;
}
.subsec1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 80%;
    margin-bottom: 10em;
}
#welcomemob{
    display: none;
}
.subsec1 h1 {
    font-size: 4.5rem;
    line-height: 1;
    width: 50%;
}
.highlight-text {
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    background: linear-gradient(to right, #f1f814, #e1e71c); 
    background-size: 0% 100%;  
    border-radius: 10px;
    background-position: left center;  
    background-repeat: no-repeat;
   
    animation: highlight-animation 4s ease-in-out infinite; /* Animation properties */
}

@keyframes highlight-animation {
    0% {
        background-size: 0% 100%; /* Start with no highlight */
    }
    50% {
        background-size: 100% 100%; /* Highlight reaches full width at halfway */
    }
    100% {
        background-size: 0% 100%; /* Highlight resets at the end */
    }
}
.subsec1 p {
    margin-top: 20px;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

@media (max-width: 768px) {
    
.sec1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#welcomepc{
    display: none;
}
#welcomemob{
    display: block;
}
.subsec1 { 
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-bottom: 10em;
}

.subsec1 h1 {
    font-size: 1.5rem;
    line-height: 1;
    width: 50%;
}
.highlight-text {
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    background: linear-gradient(to right, #f1f814, #e1e71c); 
    background-size: 0% 100%;  
    border-radius: 10px;
    background-position: left center;  
    background-repeat: no-repeat;
   
    animation: highlight-animation 4s ease-in-out infinite; /* Animation properties */
}

@keyframes highlight-animation {
    0% {
        background-size: 0% 100%; /* Start with no highlight */
    }
    50% {
        background-size: 100% 100%; /* Highlight reaches full width at halfway */
    }
    100% {
        background-size: 0% 100%; /* Highlight resets at the end */
    }
}
.subsec1 p {
    margin-top: 20px;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

}

@media (max-width: 480px) {
    
}


.marqee1 {
    text-align: center;
    margin-top: 5rem;
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;

}

.marquee {
    display: flex;
    /* width: calc(200% );  */
    animation: marquee-animation 10s linear infinite;
}

.marquee img {
    /* height: 100px; */
    flex-shrink: 0;
    margin-right: 20px;
}

@keyframes marquee-animation {
    0% {
        transform: translateX(0%);
        /* Start at the beginning of the container */
    }

    100% {
        transform: translateX(-70%);
        /* End at the midpoint of the container */
    }
}

.section {
    padding: 5rem 4rem 2.5rem 4rem;
}

.section h3 {
    font-size: 15px;
    line-height: 1.75rem;
    color: rgb(67 56 202);
}

.serving {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20em;
    background-color: ;

}

.serving h1 {
    font-size: 48px;
    /* width: 70%; */
}

.serving p {
    font-size: 20px;
    width: 70%;

}

.industries {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 1.75rem;
    column-gap: 2rem;
    margin-top: 2.5rem;
    padding: 5rem 4rem 2.5rem 4rem;
}

.info {
    display: flex;
    align-items: center;
    justify-content: start;
    border: solid rgb(209 213 219) 1px;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.info:hover{
    scale: 1.1;
    background-color: rgba(192, 189, 189, 0.448);
    border: black solid 1px;
}
.info h1 {
    font-size: 15px;
}

.info img {
    width: 2.5rem;
    margin-right: 1em;
    height: auto;
}

.section2 {
    padding: 2.5rem 4rem 2.5rem 4rem;
}

.section2 h3 {
    color: rgb(67 56 202);
    margin-bottom: 1.25rem;
}

.subsection2 {
    display: flex;
    gap: 2.5rem;
margin: 0 5em 0 5em;
}

.subsec2 {
    flex-basis: 50%;
}
.subsec2 img{
    width: 100%;
}


#hrline {
    width: 100%;
}

.subsec21 {
    width: 40%;
    margin-top: 10em;
}

.subsec21111 {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .hoverblock{
display: none;
}
.subsec211:hover{
display: block;
} */
span img {
    width: 20px;
}

#how {
    margin-top: 2em;
    text-align: center;
}

.step h3 {
    font-size: 16px;
    line-height: 1.75rem;
    color: rgb(67 56 202);
    margin-bottom: 1rem;
    margin-left:3rem ;
    margin-top: 1rem;
}

.stepsec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 10% 0 10%;
}

.stepright {
    width: 50%;
}

.stepsec h2 {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1.25rem;
}

.stepsec p {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.stepsec img {
    width: 300px;
    scale: 1.1;
}

#aboutimg {
    width: 100%;
}

.stepright button {
    padding: 0.75rem 2.5rem 0.75rem 2.5rem;
    color: white;
    margin-top: 2rem;
    border-width: 1px;
    border-radius: 0.5rem;
    background-color: rgb(49 46 129);
}
.stepright button:hover{
    background-color:white;
    color:  rgb(31, 25, 216);
    border-width: 2px;
}

.contactus {
    padding: 4rem 0 4rem 0;
    margin: 2.5rem 1.25rem 2.5rem 1.25rem;
    border-radius: 0.75rem;
    background-color: rgb(229 234 247);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactus button {
    font-size: 15px;
    margin-top: 1rem;
    line-height: 1.75rem;
    padding: 0.75rem 2.5rem 0.75rem 2.5rem;
    color: white;
    border-width: 1px;
    border-radius: 0.5rem;
    background-color: rgb(49 46 129);
}
.contactus button:hover{
    background-color:white;
    color:  rgb(31, 25, 216);
    border-width: 2px;
}

.footer {
    padding: 2.5rem 4rem 2.5rem 4rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 231 107);
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;

}

.foot {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.foot1 {
    display: flex;
    justify-content: left;
    flex-direction: column;
    /* align-items: center; */
    width: 50%;
}
.foot1 img{
    width: 8rem;
}

.foot2 {
    display: flex;
    justify-content: space-around;
    align-items: left;
    width: 50%;

}

.footer p {
    margin: .5rem;
    text-align: left;
}
#copyright{
    margin: 2rem ;
    text-align: center;
}
.social img{
width: 3rem;
}